# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt 
gradle
LICENSE.txt
README.txt
gradlew
gradlew.bat
CREDITS.txt
changelog.txt
src/test
src/main/java/com/example

# Informator' specific files

